<div class="card border-secondary post-card">
  <h5 class="card-header text-white bg-secondary border-secondary">Projects & Contributions</h5>
  <div class="card-body">
    <h6>Mentor/Org admin in Google Summer of Code since 2017</h6>
    <hr>

    <h6>openSUSE Board member</h6>
    <hr>

    {% include resume/projects.html %}
    <hr>

    {% include resume/my_projects.html %}
    <hr>

    More in Github (
    <span>
      <a href="https://github.com/Ana06" target="_blank">
        <i class="fab fa-github"></i>
        Ana06
      </a>
      ),
    </span>
    <span class="more-contributions">
      Stack Overflow (
      <a href="https://stackoverflow.com/users/6245337/ana06?tab=answers" target="_blank">
        <i class="fab fa-stack-overflow"></i>
        Ana06
      </a>
      ) &
    </span>
    <span class="more-contributions">
      openSUSE Wiki (
      <a href="https://en.opensuse.org/Special:Contributions/Ana06" target="_blank">
        Ana06
      </a>
      )
    </span>
  </div>
</div>
