{% if page.my_projects.size >= 0 %}

<p>
  Some projects I have contributed to:
</p>

<div class="row">
  {% for project in page.projects %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <h6 class="resume">
      {% include resume/project_link.html 
                 name=project.name
                 prs-url=project.prs-url
                 commits-url=project.commits-url
                 project-url=project.project-url
                 url=project.url %}
    </h6>
  </div>
  {% endfor %}
</div>

{% endif %}