{% assign today = site.time | date: "%Y-%m-%d" %}
{% assign upcoming_talks = page.talks | where_exp: 'talk', 'talk.date > today' | sort: 'date' %}
{% assign given_talks = page.talks | where_exp: 'talk', 'talk.date <= today'  | sort: 'date' | reverse %}

<div class="card border-secondary post-card">
  <h5 class="card-header text-white bg-secondary border-secondary">
    {% if upcoming_talks.size > 0 %}
    Talks
    {% else %}
    Given talks
    {% endif %}
  </h5>
  <div class="card-body">
      {% if upcoming_talks.size > 0 %}
        <h6 style="text-decoration: underline; margin: 5px 0 20px 0">Upcomming talks</h6>

        {% include resume/talks_section.html talks=upcoming_talks tag='upcomming-talks' %}

        <h6 style="text-decoration: underline; margin: 20px 0 20px 0">Given talks</h6>
      {% endif %}

    {% include resume/talks_section.html talks=given_talks tag='given-talks'%}

  </div>
</div>
